.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.homepage {
  display: grid;
  grid-template-areas: "articlesList topicsList";
  grid-template-columns: 2fr 1fr;
}

.articlesList {
  grid-area: articlesList;
}

.topicsList {
  grid-area: topicsList;
}

.list-articles {
  list-style-type: none;
  padding: 1px;
  margin: 5px 10px;
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  background-color: rgb(248, 252, 255);
}

.list-topic {
  list-style-type: none;
  padding: 1px;
  margin: 5px 10px 5px 5px;
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  background-color: rgb(248, 252, 255);
}

.articleCard {
  border: 2px solid #88ccff;
  border-radius: 3px;
  margin: 10px;
  display: grid;
  grid-template-areas:
    "topic topic author author author author author date date date"
    "title title title title title title title title votes votes"
    "comments comments comments comments comments delete delete delete votes votes";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30px 70px 25px;
  background-color: white;
}

.articleCard:hover {
  border: 2px solid rgb(0, 118, 208);
}

.title {
  grid-area: title;
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 12px;
  border-bottom: 0.5px solid gray;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title:hover {
  color: rgb(0, 145, 255);
}

.topic {
  grid-area: topic;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid gray;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.topic:hover {
  color: rgb(0, 145, 255);
  text-decoration: underline;
}

.comments {
  grid-area: comments;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 0.5px solid gray;
  margin: 0;
}

.votes {
  grid-area: votes;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 0.5px solid gray;
  margin: 0;
}

.voteButton {
  height: 20px;
  width: 60px;
  margin: auto;
  padding: 0;
  text-align: center;
  border: 2px solid #88ccff;
  border-radius: 3px;
  font-size: 6px;
}

.voteButton:hover {
  background-color: rgb(0, 118, 208);
  color: white;
}

.voteButton:disabled {
  background-color: rgb(53, 60, 65);
  border-color: rgb(0, 118, 208);
  color: white;
}

.voteButton:active {
  background-color: rgb(0, 43, 75);
}

.voteNum {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete {
  grid-area: delete;
  height: 20px;
  width: 80px;
  margin: auto;
  text-align: center;
  border: 2px solid #88ccff;
  border-radius: 3px;
}

.delete:hover {
  background-color: rgb(0, 118, 208);
  color: white;
}

.delete:active {
  background-color: rgb(0, 43, 75);
}

.date {
  grid-area: date;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border-bottom: 0.5px solid gray;
}

.author {
  grid-area: author;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-bottom: 0.5px solid gray;
}

.userIcon {
  margin-top: 6px;
  margin-left: 4px;
}

.articleSort {
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 5px 10px;
  background-color: rgb(248, 252, 255);
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 20px;
}

.dropdown {
  margin: auto 40px auto 0px;
  font-size: 12px;
}

.articlesTitle {
  border: 1px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 5px 10px;
  color: rgb(248, 252, 255);
  background-color: rgb(0, 118, 208);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 20px;
}

.header {
  border: 1px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 5px 10px 0px 10px;
  color: rgb(248, 252, 255);
  background-color: rgb(0, 43, 75);
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  text-align: left;
  padding-left: 20px;
  text-decoration: none;
}

.topicsTitle {
  border: 1px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 5px 10px 5px 5px;
  color: rgb(248, 252, 255);
  background-color: rgb(0, 118, 208);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 20px;
}

.topicCard {
  height: 50px;
  border: 2px solid #88ccff;
  border-radius: 3px;
  margin: 10px;
  background-color: white;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topicLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
}

.topicCard:hover {
  border: 2px solid rgb(0, 118, 208);
}

.topicCardTitle {
  margin: 0;
  text-align: left;
  padding-left: 10px;
}

.topicCardTitle:hover {
  color: rgb(0, 145, 255);
}

.topicDescription {
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  text-align: left;
  padding-left: 10px;
}

.topicPageTitle {
  border: 1px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 5px 10px;
  color: rgb(248, 252, 255);
  background-color: rgb(0, 118, 208);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 20px;
}

.article {
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 0px 10px 10px 10px;
  background-color: rgb(248, 252, 255);
  font-size: small;
  display: grid;
  grid-template-areas:
    "topic author author date"
    "body body body body"
    "comments commentButton votes votes";
  grid-template-rows: 30px auto 40px;
  grid-template-columns: repeat(4, 1fr);
}

.errorMsg {
  position: fixed;
  margin: auto;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 250px;
  height: 40px;
  border: 3px solid rgb(128, 37, 37);
  border-radius: 5px;
  background-color: rgba(255, 97, 97, 0.735);
  font-size: medium;
  font-weight: bold;
}

.votesArticle {
  grid-area: votes;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.topicArticle {
  grid-area: topic;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid gray;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.topicArticle:hover {
  color: rgb(0, 145, 255);
  text-decoration: underline;
}

.dateArticle {
  grid-area: date;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border-bottom: 0.5px solid gray;
}

.bodyArticle {
  grid-area: body;
  border: 2px solid #88ccff;
  border-radius: 3px;
  margin: 10px;
  padding: 30px;
  text-align: left;
  line-height: 25px;
}

.commentsArticle {
  grid-area: comments;
  border-top: 0.5px solid gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.votesArticle button.voteButton {
  margin: auto 15px;
}

.commentButton {
  grid-area: commentButton;
  border-top: 0.5px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentButton button {
  height: 30px;
  width: 100px;
  margin: auto;
  padding: 0;
  text-align: center;
  border: 2px solid #88ccff;
  border-radius: 3px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.commentButton button p {
  margin: 0;
}

.commentButton button:hover {
  background-color: rgb(0, 118, 208);
  color: white;
}

.commentButton button:active {
  background-color: rgb(0, 43, 75);
}

.commentsDisplay {
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 0px 10px 10px 10px;
  background-color: rgb(248, 252, 255);
  padding: 10px 5px;
}

.commentAdder {
  margin: 10px 5px;
  border: 2px solid #88ccff;
  border-radius: 3px;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
}

.textbox {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  margin: 10px 0px;
}

.postButton {
  height: 30px;
  width: 100px;
  margin: auto;
  padding: 0;
  text-align: center;
  border: 2px solid #88ccff;
  border-radius: 3px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.postButton:hover {
  background-color: rgb(0, 118, 208);
  color: white;
}

.postButton:active {
  background-color: rgb(0, 43, 75);
}

.commentSort {
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 10px 5px;
  background-color: white;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 20px;
}

.commentDropdown {
  margin: auto 40px auto 0px;
  font-size: 12px;
}

.commentList {
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 10px 5px;
  padding: 0;
}

.commentCard {
  border: 2px solid #88ccff;
  border-radius: 3px;
  margin: 10px;
  display: grid;
  grid-template-areas:
    "author date"
    "body body"
    "votes votes"
    "delete delete";
  grid-template-rows: 30px auto 30px auto;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.commentDate {
  grid-area: date;
  font-size: x-small;
  border-bottom: 0.5px solid gray;
  border-left: 0.5px solid gray;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentAuthor {
  grid-area: author;
}

.commentBody {
  grid-area: body;
  text-align: left;
  padding: 30px;
  margin: 0;
  line-height: 20px;
  font-size: small;
}

.commentCard section.votes {
  border-top: 0.5px solid gray;
  border-left: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.commentCard section.votes button.voteButton {
  margin: auto 20px;
}

.commentDelete {
  grid-area: delete;
  height: 40px;
  border-top: 0.5px solid gray;
}

.commentDelete button {
  height: 30px;
  width: 80px;
  margin: auto;
  text-align: center;
  border: 2px solid #88ccff;
  border-radius: 3px;
  margin: 5px;
}

.commentDelete button:hover {
  background-color: rgb(0, 118, 208);
  color: white;
}

.commentDelete button:active {
  background-color: rgb(0, 43, 75);
}

.login {
  border: 0.5px solid rgb(0, 102, 181);
  border-radius: 3px;
  margin: 5px 10px 0px 10px;
  background-color: rgb(248, 252, 255);
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 20px;
}

.login label {
  font-size: 12px;
  height: 18px;
  margin: auto 0;
}

.login select {
  margin: auto 40px auto 0px;
  font-size: 12px;
}

.login button {
  height: 20px;
  width: 60px;
  margin: auto 0;
  padding: 0;
  text-align: center;
  border: 2px solid #88ccff;
  border-radius: 3px;
  font-size: 10px;
}

.login button:hover {
  background-color: rgb(0, 118, 208);
  color: white;
}

.login button:active {
  background-color: rgb(0, 43, 75);
}
