.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.homepage {
  display: grid;
  grid-template-areas: "articlesList topicsList";
  grid-template-columns: 2fr 1fr;
}

.articlesList {
  grid-area: articlesList;
}

.topicsList {
  grid-area: topicsList;
}

.list {
  list-style-type: none;
}

.articleCard {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  display: grid;
  grid-template-areas:
    "topic author date"
    "title title title"
    "votes comments delete";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.title {
  grid-area: title;
}

.topic {
  grid-area: topic;
  font-size: x-small;
  justify-content: left;
}

.comments {
  grid-area: comments;
}

.votes {
  grid-area: votes;
}

.delete {
  grid-area: delete;
}

.date {
  grid-area: date;
  font-size: x-small;
}

.author {
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userIcon {
  margin-top: 6px;
  margin-left: 4px;
}
